<% content_for :head do %>
  <%= javascript_include_tag "timeline.js" %>
  <%= javascript_include_tag "iscroll.js" %>
  <style>
    /* The following is customized css */
    .fluid {
      width: auto;
      background-image: url(http://subtlepatterns.com/patterns/grunge_wall.png);
    }
  </style>
  <script>
 $(function(){
        myScroll = new iScroll('timelineScroll', {
        snap:true,
        momentum:false,
        hScrollbar:false,
        onScrollEnd: function () {
        }
     });
});
 $(function () {
        $("a[rel=popover]").popover({ offset: 10}).click(function(e) {
                  e.preventDefault()
                })
            })
          
  </script>
<% end %>
<br/>
<br/>
<a href="#" class="btn danger" rel="popover" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title">hover for popover</a>
<div id="timelineLimiter"> <!-- Hides the overflowing timelineScroll div -->
  <div id="timelineScroll"> <!-- Contains the timeline and expands to fit -->
    <% colors = %w(green blue chreme) %>
    <% @grouped_tweets.each_with_index do |group, index| %>
      <div class="event">
        <div class="eventHeading <%= colors[index % 3] %>"><%= group[:time].strftime("%Y-%m-%d") %></div>
        <ul class="eventList">
          <% group[:tweets].each do |tweet| %>
            <li class=''>
            <span class="icon" title=""></span>
            <%= get_short_content(tweet) %>
            <div class="content">
              <div class="body">
                <%= tweet.text %>
                <br/>
                <%= get_content(tweet) %>
                <% if !tweet.bmiddle_pic.blank? %>
                  <img border="0" src="<%= tweet.bmiddle_pic %>" alt="picture" width="490" />
                <% end %>
              </div>
              <div class="title"><%= tweet.text %></div>
              <div class="date"><%= tweet.created %></div>
            </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="clear"></div>
  </div>

</div>

<div id="timelineBar">
  <div id="highlight"></div>
  <% @grouped_tweets.each do |group| %>
    <div class="grid" count="<%= group[:tweets].length %>"></div>
  <% end %>
</div>
