<% content_for :head do %>
  <%= javascript_include_tag "timeline.js" %>
  <%= javascript_include_tag "iscroll.js" %>
  <style>
    /* The following is customized css */
    .fluid {
      width: auto;
      background-image: url(http://subtlepatterns.com/patterns/grunge_wall.png);
    }
  </style>
  <script>
 $(function(){
        myScroll = new iScroll('timelineScroll', {
        snap:true,
        momentum:false,
        hScrollbar:false,
        onScrollEnd: function () {
        }
     });
});
 $(function () {
        $("p[rel=popover]").popover({ offset: 10, html: true}).click(function(e) {
                  e.preventDefault()
                })
            })

  </script>
<% end %>
<br/>
<br/>
<div id="timelineLimiter"> <!-- Hides the overflowing timelineScroll div -->
  <div id="timelineScroll"> <!-- Contains the timeline and expands to fit -->
    <% colors = %w(green blue chreme) %>
    <% @grouped_tweets.each_with_index do |group, index| %>
      <div class="event">
        <div class="eventHeading <%= colors[index % 3] %>"><%= group[:time].strftime("%Y-%m-%d") %></div>
        <ul class="eventList">
          <% group[:tweets].each do |tweet| %>
            <li class=''>
            <span class="icon" title=""></span>
			<%=content_tag(:p,get_short_content(tweet), :class => "danger", :rel => "popover", "data-content" => get_all_content(tweet), "data-original-title" => "content" )%>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="clear"></div>
  </div>

</div>

<div id="timelineBar">
  <div id="highlight"></div>
  <% @grouped_tweets.each do |group| %>
    <div class="grid" count="<%= group[:tweets].length %>"></div>
  <% end %>
</div>
