<!DOCTYPE html>
<html>
  <head>
    <title>WEDiary</title>
    <%= stylesheet_link_tag 'bootstrap.css', :media => 'screen' %>
    <%= stylesheet_link_tag "timeline.css" %>
    <%= stylesheet_link_tag "wediary.css" %>


    <%= javascript_include_tag "/javascripts/jquery.min.js" %>
    <%= javascript_include_tag "/javascripts/jquery-ui.min.js" %>
    <%= javascript_include_tag "/javascripts/bootstrap-modal.js" %>
    <%= javascript_include_tag "/javascripts/bootstrap-twipsy.js" %>
    <%= javascript_include_tag "/javascripts/bootstrap-popover.js" %>

    <%= yield :head %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <%= render('layouts/header') %>

    <div class="container fluid">
      <br />
      <br />
        <%= yield %>
      <footer>
        <p style="text-align:center">Hackathon Beijing 2011</p>
      </footer>
    </div>
  </body>
</html>


