<!DOCTYPE html>
<html>
  <head>
    <title>WeiboDiary</title>
    <%= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'bootstrap.css', :media => 'screen' %>

    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <%= render('layouts/header') %>

    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <%= yield %>
      <footer>
        <p>Hackathon Beijing 2011</p>
      </footer>
    </div>
  </body>
</html>


