<!DOCTYPE html>
<html>
  <head>
    <title>WeiboDiary</title>
    <%= stylesheet_link_tag 'bootstrap.css', :media => 'screen' %>
    <%= stylesheet_link_tag "timeline.css" %>

    <%= javascript_include_tag "/javascripts/jquery.min.js" %>
    <%= javascript_include_tag "/javascripts/jquery-ui.min.js" %>

    <%= yield :head %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <%= render('layouts/header') %>

    <div class="container fluid">
        <br />
        <br />
        <br />
        <br />
        <%= yield %>
      <footer>
        <p>Hackathon Beijing 2011</p>
      </footer>
    </div>
  </body>
</html>


